#header {
	position: relative;
	width: 100%;
}

#buttons {
	position: relative;
	width: 100%;
}

/*
#tyontekijat {
	position: relative;
	width: 50%;
}

#toimipisteet {
	position: relative;
	width: 50%;
}
*/